---
import { type CollectionEntry, getCollection } from "astro:content"
import BlogLayout from "../../layouts/BlogLayout.astro"
import Header from "../../components/Header.astro"
import Footer from "../../components/Footer.astro"
import FeaturedCard from "../../components/FeaturedCard.astro"
import SiteOptions from "../../site.config.mjs"

export async function getStaticPaths() {
  const posts = await getCollection("article")
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }))
}

type Props = CollectionEntry<"article">

const post = Astro.props
const { title, pubDate, category, description, thumb, author, tags, large } = post.data
const { Content } = await post.render()

// Get similar posts (same category, excluding current post)
const allPosts = await getCollection("article")
const similarPosts = allPosts.filter((p) => p.slug !== post.slug && p.data.category === post.data.category).slice(0, 3)

const formattedDate = new Intl.DateTimeFormat("en-US", {
  year: "numeric",
  month: "long",
  day: "numeric",
}).format(pubDate)
---

<BlogLayout title={title} description={description}>
  <Header showTitle={true} />

  <!-- Light Horizontal Bar -->
  <hr class="border-t border-gray-200 dark:border-gray-700 my-8" />

  <!-- Blog Post Header -->
  <header class="mb-8 relative">
    <h1 class="text-3xl md:text-4xl lg:text-3xl font-bold tracking-tight mb-4 text-gray-900 dark:text-slate-100">
      {title}
    </h1>
    <div class="flex flex-wrap items-center text-sm text-gray-500 dark:text-gray-400 space-x-4 mb-4">
      <span>By <a href={`/author/${author.toLowerCase().replace(/\s+/g, "-")}`} class="text-gray-500 dark:text-gray-400 hover:underline no-underline"><strong>{author}</strong></a></span>
      <span>{formattedDate}</span>
      {
        category && (
          <span>
            {SiteOptions.labels.postedIn}
            <a href={`/category/${category.toLowerCase().replace(/\s+/g, "-")}`} class="text-gray-500 dark:text-gray-400 hover:underline no-underline">
              <strong>{category}</strong>
            </a>
          </span>
        )
      }
    </div>
    <div class="text-sm text-gray-500 dark:text-gray-400">
      Tags:
      {
        tags.map((tag) => (
          <a href={`/tag/${tag.toLowerCase().replace(/\s+/g, "-")}`} class="bg-gray-100 text-gray-600 dark:bg-slate-700 dark:text-slate-300 px-2 py-1 rounded hover:bg-gray-200 dark:hover:bg-slate-600 ml-1 no-underline hover:underline">
            {tag}
          </a>
        ))
      }
    </div>
  </header>

  <!-- Blog Post Content -->
  <article class="mt-10 prose prose-h2:text-2xl prose-lg max-w-none text-gray-700 dark:prose-strong:text-slate-100 dark:text-slate-300 prose-headings:text-gray-900 dark:prose-headings:text-slate-100 prose-a:text-blue-600 dark:prose-a:text-blue-400 prose-code:text-slate-700 dark:prose-code:text-slate-100 prose-pre:bg-gray-100 dark:prose-pre:bg-slate-800 prose-blockquote:border-gray-300 dark:prose-blockquote:border-gray-600 prose-blockquote:text-gray-600 dark:prose-blockquote:text-gray-400 prose-h3:text-[1.2em] ">
    <!-- Show featured image -->
    {
      large && (
        <div class="mb-8">
          <img src={large} alt={title} class="w-full h-auto rounded-lg shadow-md" />
        </div>
      )
    }
    <Content />
  </article>


  <!-- Similar Posts Section -->
  {
    SiteOptions.showSimilarPosts && similarPosts.length > 0 && (
    <hr class="border-t border-gray-200 dark:border-gray-700 my-12" />
      <section>
        <h2 class="text-2xl font-semibold mb-8 text-center text-gray-800 dark:text-slate-200">{SiteOptions.labels.youMightAlsoLike}</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">
          {similarPosts.map((similarPost) => (
            <FeaturedCard post={similarPost} />
          ))}
        </div>
      </section>
    )
  }

  <!-- Minimal Footer -->
  <Footer/>
</BlogLayout>
