---
import { getCollection } from "astro:content"
import type { GetStaticPaths } from "astro"
import BlogLayout from "../../layouts/BlogLayout.astro"
import Header from "../../components/Header.astro"
import Footer from "../../components/Footer.astro"
import PostCard from "../../components/PostCard.astro"
import FeaturedCard from "../../components/FeaturedCard.astro"
import Pagination from "../../components/Pagination.astro"
import SiteOptions from "../../site.config.mjs"

export const getStaticPaths = (async ({ paginate }) => {
  const allPosts = await getCollection("article")
  const sortedPosts = allPosts.sort((a, b) => new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf())

  return paginate(sortedPosts, {
    pageSize: SiteOptions.numberOfBlogPostsPerPage || 8, // Number of posts per page
  })
}) satisfies GetStaticPaths

const { page } = Astro.props

// Get featured posts for the first page only
const allPosts = await getCollection("article")
const featuredPosts = page.currentPage === 1 ? allPosts.filter((post) => post.data.featured).slice(0, 3) : []

const pageTitle = page.currentPage === 1 ? SiteOptions.siteTitle : `Blog - Page ${page.currentPage} | ${SiteOptions.siteTitle}`
const showCategory = SiteOptions.showCategoryOnPosts || false
---

<BlogLayout title={pageTitle}>
  <Header />

  <!-- Light Horizontal Bar -->
  <hr class="border-t border-gray-200 dark:border-gray-700 my-8" />

  <!-- Latest Blog Posts -->
  <section>
    <!-- <h2 class={`text-2xl font-semibold mb-8  text-center`}>All Posts</h2> -->
    <ul class="space-y-4">
      {page.data.map((post) => <PostCard post={post} showCategory={showCategory} />)}
    </ul>
  </section>

  <!-- Pagination -->
  <Pagination page={page} />

  <!-- Minimal Footer -->
  <Footer />
</BlogLayout>
