---
import { type CollectionEntry } from "astro:content"
import SiteOptions from "../site.config.mjs"

export interface Props {
  post: CollectionEntry<"article">
}

const { post } = Astro.props
const { title, description, thumb } = post.data
---

<article class="bg-gray-50 dark:bg-slate-800 rounded-lg shadow-sm p-6 flex flex-col items-start">
  {
    SiteOptions.showThumbnailOnFeaturedPosts && thumb && (
      <a href={`/article/${post.slug}`} class="w-full">
        <img src={thumb} alt={title} class="w-full h-auto object-cover rounded mb-4" />
      </a>
    )
  }
  <h3 class="text-xl font-bold mb-2"><a href={`/article/${post.slug}`}>{title}</a></h3>
  <p class="text-gray-500 dark:text-gray-400 text-sm mb-4 flex-grow">{description}</p>
  {
    SiteOptions.showReadMoreLinkOnFeaturedPosts && (
      <a href={`/article/${post.slug}`} class="text-black dark:text-white underline text-sm mt-auto self-start">
        {SiteOptions.labels.readMore}
      </a>
    )
  }
</article>
