---
import { type CollectionEntry } from "astro:content"
import SiteOptions from "../site.config.mjs"

export interface Props {
  post: CollectionEntry<"article">
  showImage?: boolean
  showCategory?: boolean
}

const { post, showImage = false, showCategory = true } = Astro.props
const { title, pubDate, category, description, author } = post.data

const formattedDate = new Intl.DateTimeFormat("en-US", {
  year: "numeric",
  month: "long",
  day: "numeric",
}).format(pubDate)
---

<li class="flex flex-col sm:flex-row justify-between sm:items-center py-4 border-b border-gray-100 dark:border-gray-800">
  <div class="mb-2 sm:mb-0">
    <a href={`/article/${post.slug}`} class="text-xl font-medium hover:underline">
      {title}
      {SiteOptions.showAuthorsOnHomePage && author && <span class="text-sm text-gray-500 dark:text-gray-400 ml-2">by {author}</span>}
    </a>

    {showCategory && category && <span class="ml-0 sm:ml-3 mt-1 sm:mt-0 inline-block text-xs bg-gray-100 text-gray-600 dark:bg-slate-700 dark:text-slate-300 px-2 py-1 rounded">{category}</span>}
    {showImage && description && <p class="text-sm text-gray-500 dark:text-gray-400 mt-1">{description}</p>}
  </div>
  <span class="text-sm text-gray-400 dark:text-gray-500">{formattedDate}</span>
</li>
