---
import "../styles/global.css"
import SiteOptions from "../site.config.mjs"

export interface Props {
  title: string
  description?: string
}

const { title = SiteOptions.siteTitle, description = SiteOptions.siteSubTitle } = Astro.props
---

<!doctype html>
<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:site_name" content={SiteOptions.siteTitle} />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
    <script is:inline>
      // Theme initialization - prevents FOUC
      ;(() => {
        const theme = localStorage.getItem("theme") ?? (matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light")

        document.documentElement.classList.toggle("dark", theme === "dark")
      })()
    </script>
    {SiteOptions.gTag && (
      <script
        data-category="analytics"
        is:inline
        type="text/partytown"
        src={`https://www.googletagmanager.com/gtag/js?id=${SiteOptions.gTag}`}
      ></script>

      <script data-category="analytics" is:inline type="text/partytown" define:vars={{gTag: SiteOptions.gTag}}>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
          dataLayer.push(arguments);
        }
        gtag("js", new Date());

        gtag("config", gTag);
      </script>
    )}
  </head>

  <body class="bg-white text-gray-900 dark:bg-slate-900 dark:text-slate-200 transition-colors duration-300 min-h-full">
    <!-- <div class="w-full bg-black h-3"></div> -->

    <main class={`max-w-[1100px] mx-auto px-4`}>
      <slot />
    </main>

    <script is:inline src="/scripts/theme-toggle.js"></script>
  </body>
</html>

<style>
  @view-transition {
    navigation: auto;
  }
</style>
